{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

   {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
     {{ form_errors(form.email) }}
    {{ form_row(form.roles) }}
    <button class="btn">{{ button_label|default('Save')|trans() }}</button>
{{ form_end(form) }}
