{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

   {{ form_label(form.titleEn) }} {{ form_widget(form.titleEn) }}{{ form_errors(form.titleEn) }}
   {{ form_label(form.titleFr) }} {{ form_widget(form.titleFr) }}{{ form_errors(form.titleFr) }}
   {{ form_label(form.descriptionEn) }}{{ form_widget(form.descriptionEn) }}{{ form_errors(form.descriptionEn) }}
   {{ form_label(form.descriptionFr) }}{{ form_widget(form.descriptionFr) }}{{ form_errors(form.descriptionFr) }}
 {{ form_label(form.grade) }}{{ form_widget(form.grade) }}{{ form_errors(form.grade) }}
 {{ form_label(form.family) }}{{ form_widget(form.family) }}{{ form_errors(form.family) }}
<b>{{ form_label(form.disciplinesd) }}</b> {{ form_widget(form.disciplinesd) }}{{ form_errors(form.disciplinesd) }}

<ul id="disciplinesd"
    data-prototype="{{ form_widget(form.disciplinesd.vars.prototype)|e }}"
    data-widget-levels="{{ '<li></li>'|e }}">
     
</ul>
<a href="#" id="add_skill" class="btn btn-default">Add Skill</a>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var $container = $('div#discipline_disciplinesd');

        var index = $container.find(':input').length;
        $('#add_skill').click(function (e) {
            addSkill($container);

            e.preventDefault();
            return false;
        });

        function addSkill($container) {


            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Skill ' + (index + 1))
                .replace(/__name__/g, index)
            ;

            var $prototype = $(template);


            $container.append($prototype);

            index++;
        }


    });
</script>