{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item"><a class="nav-link active" href="#en_tab" data-toggle="tab" role="tab" aria-controls="en_tab" aria-selected="true">En</a></li>
        <li calss="nav-item"><a class="nav-link" href="#fr_tab" data-toggle="tab" role="tab" aria-controls="fr_tab" aria-selected="false">Fr</a></li>
    </ul>
    <fieldset class="bg-grey-1 p-4">
        <div class="row">
            <div class="col-12 tab-content">
                <div class="tab-pane fade show active" id="en_tab" role="tabpanel" aria-labelledby="en-tab">
                    <p>
                        {{ form_label(form.titleEn) }}
                        {{ form_widget(form.titleEn) }}
                        {{ form_errors(form.titleEn) }}
                    </p>
                     <p>
                        {{ form_label(form.descriptionEn) }}
                        {{ form_widget(form.descriptionEn) }}
                        {{ form_errors(form.descriptionEn) }}
                    </p>
                </div>
                <div class="tab-pane fade" id="fr_tab" role="tabpanel" aria-labelledby="fr-tab">
                    <p>
                        {{ form_label(form.titleFr) }}
                        {{ form_widget(form.titleFr) }}
                        {{ form_errors(form.titleFr) }}
                    </p>
                
                    <p>
                        {{ form_label(form.descriptionFr) }}
                        {{ form_widget(form.descriptionFr) }}
                        {{ form_errors(form.descriptionFr) }}
                    </p>
                </div>
                
                
                <div>
                    {{ form_label(form.grade) }}
                    {{ form_widget(form.grade) }}
                    {{ form_errors(form.grade) }}
                </div>
                <p></p>
                <p>
                    {{ form_label(form.family) }}
                    {{ form_widget(form.family) }}
                    {{ form_errors(form.family) }}
                </p>
            </div>
        </div>
    </fieldset>
    <div class="mt-3 mb-3 text-right">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>

    <div id="competenciesBlock">
        <h3 class="text-darkgrey mt-3">{{ form_label(form.disciplinesd) }}</h3>
        
        <div id="disciplineLevelsTabs">
            {% for disciplineGrades in form.grade.vars.value %}
                <span class="gradeTab {% if loop.first %}selected{% endif %}" id="tab-{{ disciplineGrades }}" data-value="{{ disciplineGrades }}">{{ disciplineGrades }}</span>
            {% endfor %}
        </div>
        
        <fieldset class="bg-grey-1 p-4">
            <div class="row align-items-center">
                <div class="col-8">
                    <p>
                        <label for="">Select competency</label>
                        <input type="text" id="skillsAuto" class="form-control" data-source="{{ path('skills_json') }}" data-prototype="{{ path('skill_prototype') }}" placeholder="Start typing to search skills ...">
                    </p>
                </div>
                <div class="col-1">
                    <p class="text-center">
                        <label class="d-block">&nbsp;</label>
                        <span class="nexa-bold">Or</span>
                    </p>
                </div>
                <div class="col-3">
                <p>
                <label>&nbsp;</label>
                        <a href="{{ path('skill_new') }}" class="btn btn-primary btn-block">Add new Competency</a>
                </p>
                </div>
                <div class="col-12">
                    <div class="tree">
                        <div class="list" id="selected-skills">
                            {{ form_widget(form.disciplinesd) }}
                            {# {{ form_errors(form.disciplinesd) }} #}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    
        <div class="mt-3 mb-3 text-right">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
