{% extends 'base.html.twig' %}

{% block title %}Discipline index{% endblock %}

{% block body %}
    <h1>Discipline index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <!--<th>Status</th>-->
            <th>DateCreated</th>
            <th>Level</th>
            <th>Family</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for discipline in disciplines %}
            <tr>
                <td>{{ discipline.titleEn }}</td>
                <td>{{ discipline.descriptionEn }}</td>
                <!-- <td>{{ discipline.status ? 'Active' : 'Not Active' }}</td>-->
                <td>{{ discipline.dateCreated ? discipline.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ discipline.grade ? discipline.grade|join(', ') : '' }}</td>
                <td>{{ discipline.family.titleEn }}</td>
                <td>
                    <a href="{{ path('discipline_edit', {'id': discipline.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('discipline_new') }}">Create new</a>
{% endblock %}
