{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Dashboard{% endblock %}

{% block body %}

    <section class="container pt-5">
        <div>
            <h1 class="d-inline-block">Dashboard</h1>
       </div>
       <div>
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
       </div>
     </section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script>

Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: '<h3>Vue globale</h3>'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y}</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Total',
        colorByPoint: true,
        data: [{
            name: 'Families',
            y: parseFloat('{{ families|length }}')
        }, {
            name: 'Disciplines',
            y: parseFloat('{{ disciplines|length }}')
        }, {
            name: 'Skills',
            y: parseFloat('{{ skills|length }}')
        }]
    }]
});
</script>
{% endblock %}
