{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

   {{ form_label(form.titleEn) }} {{ form_widget(form.titleEn) }}{{ form_errors(form.titleEn) }}
   {{ form_label(form.titleFr) }} {{ form_widget(form.titleFr) }}{{ form_errors(form.titleFr) }}
   {{ form_label(form.descriptionEn) }}{{ form_widget(form.descriptionEn) }}{{ form_errors(form.descriptionEn) }}
   {{ form_label(form.descriptionFr) }}{{ form_widget(form.descriptionFr) }}{{ form_errors(form.descriptionFr) }}
<br/><b>{{ form_label(form.disciplines) }}</b> {{ form_widget(form.disciplines) }}{{ form_errors(form.disciplines) }}

<ul id="disciplines"
    data-prototype="{{ form_widget(form.disciplines.vars.prototype)|e }}"
    data-widget-levels="{{ '<li></li>'|e }}">
     
</ul>
<a href="#" id="add_discipline" class="btn btn-default">Add Discipline</a>
<br>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var $container = $('div#family_disciplines');

        var index = $container.find(':input').length;
        $('#add_discipline').click(function (e) {
            addDiscipline($container);

            e.preventDefault();
            return false;
        });

        function addDiscipline($container) {


            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Discipline ' + (index + 1))
                .replace(/__name__/g, index)
            ;

            var $prototype = $(template);


            $container.append($prototype);

            index++;
        }


    });
</script>