{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item"><a class="nav-link active" href="#en_tab" data-toggle="tab" role="tab" aria-controls="en_tab" aria-selected="true">En</a></li>
        <li calss="nav-item"><a class="nav-link" href="#fr_tab" data-toggle="tab" role="tab" aria-controls="fr_tab" aria-selected="false">Fr</a></li>
    </ul>
    <fieldset class="bg-grey-1 p-4">
        <div class="row">
            <div class="col-12 tab-content">
                <div class="tab-pane fade show active" id="en_tab" role="tabpanel" aria-labelledby="en-tab">
                    <p>
                        {{ form_label(form.titleEn) }}
                        {{ form_widget(form.titleEn) }}
                        {{ form_errors(form.titleEn) }}
                    </p>
                    <p>
                        {{ form_label(form.descriptionEn) }}
                        {{ form_widget(form.descriptionEn) }}
                        {{ form_errors(form.descriptionEn) }}
                    </p>
                </div>
                <div class="tab-pane fade" id="fr_tab" role="tabpanel" aria-labelledby="fr-tab">
                    <p>
                        {{ form_label(form.titleFr) }}
                        {{ form_widget(form.titleFr) }}
                        {{ form_errors(form.titleFr) }}
                    </p>
                    <p>
                        {{ form_label(form.descriptionFr) }}
                        {{ form_widget(form.descriptionFr) }}
                        {{ form_errors(form.descriptionFr) }}
                    </p>
                </div>
            </div>
        </div>
        
    </fieldset>

    <div class="mt-4">
        <h3 class="d-inline-block">{{ form_label(form.disciplines) }}</h3>
        <a href="#" class="text-blue float-right" data-toggle="tooltip" title="Add Discipline" id="add_discipline"><i class="icon icon-md material-icons-add_circle"></i></a>
    </div>
    
        <p>
            {{ form_widget(form.disciplines) }}
            {{ form_errors(form.disciplines) }}
        </p>
    
        <ul id="disciplines"
            data-prototype="{{ form_widget(form.disciplines.vars.prototype)|e }}"
            data-widget-levels="{{ '<li></li>'|e }}">
        </ul>

        <div class="mt-3 mb-3 text-right">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
{{ form_end(form) }}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var $container = $('div#family_disciplines');

        var index = $container.find(':input').length;
        $('#add_discipline').click(function (e) {
            addDiscipline($container);

            e.preventDefault();
            return false;
        });

        function addDiscipline($container) {


            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Discipline ' + (index + 1))
                .replace(/__name__/g, index)
            ;

            var $prototype = $(template);


            $container.append($prototype);

            index++;
        }


    });
</script>